body {
	background-color: #18181a;
	color: #fff;
}

@import './header';

@import './sidebar';

@import './button';

.video-list .video-item {}
.video-list .video-item .video-item__thumbnail {
	width: 100%;
	border-radius: 15px;
}
.video-list .video-item .video-item__body {
	display: flex;
	padding: 12px 0;
}
.video-list .video-item .video-item__avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 12px;
}
.video-list .video-item .video-item__info {
}
.video-list .video-item .video-item__title {
	font-weight: 500;
}
.video-list .video-item .video-item__channel {
	font-size: 16px;
}
.video-list .video-item .fa-circle-check {
	margin-left: 5px;
}
.video-list .video-item .video-item__description {
	font-size: 16px;
}
.video-list .video-item .video-item__info p {
	margin-bottom: .5rem;
}

.tags-list {
	position: relative;
}

.scrolltags {
  overflow: hidden;
  white-space: nowrap;
}

.scrolltags a {
  display: inline-block;
  text-align: center;
	padding-bottom: 14px;
}

.tags-list .tags-nav-left,
.tags-list .tags-nav-right {
	position: absolute;
	top: 0;
	width: 200px;
	padding: unset;
}

.tags-list .tags-nav-left {
	background: linear-gradient(to right, #0f0f0f 20%, rgba(33,33,33,0) 80%); 
	left: 0;
}

.tags-list .tags-nav-right {
	background: linear-gradient(to left, #0f0f0f 20%, rgba(33,33,33,0) 80%); 
	right: 0;
}
